{% load nvd3_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include_chart_jscss %}
    {% load static %}
    <link media="all" href="{% static 'nvd3/build/nv.d3.css' %}" \
          type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'd3/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'nvd3/build/nv.d3.min.js' %}"></script>
    <meta charset="UTF-8">
    {% load_chart charttype chartdata "piechart_container" %}
    <title>Title</title>
</head>
<body>

    <h1>Fruits vs Calories</h1>

    {% include_container "piechart_container" 400 500 %}
    {% load_chart charttype chartdata "piechart_container" %}

</body>
</html>